.env/*
.venv/*

logs/*

.pyc
__pycache__/*

build
dist

test/*

*.build

C:/* # Windows paths on linux

launcher/debug/
launcher/target/
launcher/Cargo.lock

uploader.log

uploader_rs/debug/
uploader_rs/target/
uploader_rs/Cargo.lock
uploader_rs/export/
uploader_rs/anon/

test_dicoms/

.last_scan.json